$app-max-width: 280px;

#root {
  min-width: $app-max-width;
  max-width: $app-max-width;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    user-select: none;
    animation: logo-animation 2s ease-in infinite;

    &__title {
      font-size: 150%;
      font-weight: bold;
    }

    &__logo {
      width: 64px;
    }
  }
}

@keyframes logo-animation {
  from {
    filter: hue-rotate(0) blur(0)
  }

  50% {
    filter: hue-rotate(180deg) blur(1px)
  }

  to {
    filter: hue-rotate(360deg) blur(0)
  }
}

.duration-picker {
  display: flex;

  &__field {
    > input {
      width: 3rem;
    }
  }
}

.timeline-builder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 50vw;

  border: 1px solid rgb(60, 60, 60);
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  padding: 0.5rem;

  &--collapsed {
    max-height: 34px;
    overflow: hidden;
  }

  &__title {
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
    user-select: none;

    width: 100%;
  }

  &__slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border: 1px solid rgb(70, 70, 70);
    border-radius: 8px;
    background-color: 1px solid rgb(60, 60, 60);
    padding: 0.5rem;
  }

  &__preview {
    border: 1px solid black;
    padding: 1rem;

    > label {
      font-weight: bold;
    }
  }
}

.timeslot-builder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__field {
    display: flex;
    flex-direction: column;

    > label {
      font-weight: bold;
      font-size: 75%;
    }

    &--name {
      > input {
        text-align: center;
      }
    }
  }
}

.hash-setter {
  border: 1px solid rgb(60, 60, 60);
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__title {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 1.5rem;
  }

  &--collapsed {
    max-height: 34px;
    overflow: hidden;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid rgb(60, 60, 60);
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  padding: 0.5rem;

  &__title {
    user-select: none;
    font-weight: bold;
  }
}

.timeslot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: 1px solid rgb(70, 70, 70);
  border-radius: 8px;
  background-color: rgb(60, 60, 60);
  padding: 0.5rem;

  &--finished {
    background-color: rgb(60, 120, 60);
  }

  &--progress {
    background-color: rgb(60, 60, 120);
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  user-select: none;

  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:hover {
    border-color: #c664ff;
  }

  &:focus, &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
