@use "./variables.scss";

#root {
  width: variables.$app-max-width;
  min-width: variables.$app-max-width;
  max-width: variables.$app-max-width;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}
